# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

2023-05-19 12:40:05.212509: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [36]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('./Resources/applicants_data.csv'))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [37]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [38]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [39]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [40]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

In [41]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [42]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [43]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df.drop(columns=categorical_variables), encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [44]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [45]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [46]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [47]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [48]:
# Define the the number of inputs (features) to the model
number_input_features = len(X.columns)

# Review the number of features
number_input_features

116

In [54]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [55]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

2

In [56]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

2

In [102]:
# Create the Sequential model instance
nn = Sequential()

In [103]:
# Add the first hidden layer
nn.add(Dense(
    units=hidden_nodes_layer1,
    input_dim = number_input_features,
    activation='relu',
    name='hidden1'
))

In [104]:
# Add the second hidden layer
nn.add(Dense(
    units=hidden_nodes_layer2,
    activation='relu',
    name='hidden2'
))

In [105]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(
    number_output_neurons,
    activation='sigmoid',
    name='output'
))

In [106]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 hidden1 (Dense)             (None, 2)                 234

 hidden2 (Dense)             (None, 2)                 6

 output (Dense)              (None, 1)                 3

=================================================================
Total params: 243
Trainable params: 243
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [107]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [108]:
# Fit the model using 50 epochs and the training data
nn.fit(
    X_train_scaled,
    y_train,
    epochs=50
)

Epoch 1/50
804/804 [==============================] - 1s 744us/step - loss: 0.6545 - accuracy: 0.6281
Epoch 2/50
804/804 [==============================] - 1s 726us/step - loss: 0.6092 - accuracy: 0.6823
Epoch 3/50
804/804 [==============================] - 1s 698us/step - loss: 0.5953 - accuracy: 0.6915
Epoch 4/50
804/804 [==============================] - 1s 796us/step - loss: 0.5890 - accuracy: 0.7184
Epoch 5/50
804/804 [==============================] - 1s 765us/step - loss: 0.5854 - accuracy: 0.7183
Epoch 6/50
804/804 [==============================] - 1s 733us/step - loss: 0.5828 - accuracy: 0.7188
Epoch 7/50
804/804 [==============================] - 1s 743us/step - loss: 0.5810 - accuracy: 0.7212
Epoch 8/50
804/804 [==============================] - 1s 742us/step - loss: 0.5788 - accuracy: 0.7211
Epoch 9/50
804/804 [==============================] - 1s 739us/step - loss: 0.5771 - accuracy: 0.7205
Epoch 10/50
804/804 [==============================] - 1s 719us/step - loss: 0.5770 - accuracy: 0.7212
Epoch 11/50
804/804 [==============================] - 1s 779us/step - loss: 0.5769 - accuracy: 0.7225
Epoch 12/50
804/804 [==============================] - 1s 730us/step - loss: 0.5769 - accuracy: 0.7209
Epoch 13/50
804/804 [==============================] - 1s 744us/step - loss: 0.5758 - accuracy: 0.7228
Epoch 14/50
804/804 [==============================] - 1s 767us/step - loss: 0.5743 - accuracy: 0.7252
Epoch 15/50
804/804 [==============================] - 1s 731us/step - loss: 0.5741 - accuracy: 0.7257
Epoch 16/50
804/804 [==============================] - 1s 740us/step - loss: 0.5741 - accuracy: 0.7253
Epoch 17/50
804/804 [==============================] - 1s 736us/step - loss: 0.5742 - accuracy: 0.7254
Epoch 18/50
804/804 [==============================] - 1s 702us/step - loss: 0.5741 - accuracy: 0.7259
Epoch 19/50
804/804 [==============================] - 1s 717us/step - loss: 0.5740 - accuracy: 0.7252
Epoch 20/50
804/804 [==============================] - 1s 758us/step - loss: 0.5740 - accuracy: 0.7248
Epoch 21/50
804/804 [==============================] - 1s 742us/step - loss: 0.5741 - accuracy: 0.7255
Epoch 22/50
804/804 [==============================] - 1s 745us/step - loss: 0.5739 - accuracy: 0.7251
Epoch 23/50
804/804 [==============================] - 1s 709us/step - loss: 0.5739 - accuracy: 0.7256
Epoch 24/50
804/804 [==============================] - 1s 753us/step - loss: 0.5738 - accuracy: 0.7255
Epoch 25/50
804/804 [==============================] - 1s 700us/step - loss: 0.5739 - accuracy: 0.7255
Epoch 26/50
804/804 [==============================] - 1s 683us/step - loss: 0.5739 - accuracy: 0.7261
Epoch 27/50
804/804 [==============================] - 1s 723us/step - loss: 0.5739 - accuracy: 0.7255
Epoch 28/50
804/804 [==============================] - 1s 736us/step - loss: 0.5738 - accuracy: 0.7261
Epoch 29/50
804/804 [==============================] - 1s 705us/step - loss: 0.5736 - accuracy: 0.7264
Epoch 30/50
804/804 [==============================] - 1s 720us/step - loss: 0.5739 - accuracy: 0.7254
Epoch 31/50
804/804 [==============================] - 1s 692us/step - loss: 0.5738 - accuracy: 0.7252
Epoch 32/50
804/804 [==============================] - 1s 683us/step - loss: 0.5736 - accuracy: 0.7260
Epoch 33/50
804/804 [==============================] - 1s 710us/step - loss: 0.5737 - accuracy: 0.7256
Epoch 34/50
804/804 [==============================] - 1s 783us/step - loss: 0.5738 - accuracy: 0.7259
Epoch 35/50
804/804 [==============================] - 1s 721us/step - loss: 0.5736 - accuracy: 0.7254
Epoch 36/50
804/804 [==============================] - 1s 687us/step - loss: 0.5738 - accuracy: 0.7259
Epoch 37/50
804/804 [==============================] - 1s 726us/step - loss: 0.5736 - accuracy: 0.7262
Epoch 38/50
804/804 [==============================] - 1s 692us/step - loss: 0.5729 - accuracy: 0.7262
Epoch 39/50
804/804 [==============================] - 1s 688us/step - loss: 0.5728 - accuracy: 0.7258
Epoch 40/50
804/804 [==============================] - 1s 715us/step - loss: 0.5726 - accuracy: 0.7256
Epoch 41/50
804/804 [==============================] - 1s 706us/step - loss: 0.5725 - accuracy: 0.7259
Epoch 42/50
804/804 [==============================] - 1s 765us/step - loss: 0.5724 - accuracy: 0.7254
Epoch 43/50
804/804 [==============================] - 1s 725us/step - loss: 0.5723 - accuracy: 0.7270
Epoch 44/50
804/804 [==============================] - 1s 708us/step - loss: 0.5723 - accuracy: 0.7264
Epoch 45/50
804/804 [==============================] - 1s 718us/step - loss: 0.5722 - accuracy: 0.7265
Epoch 46/50
804/804 [==============================] - 1s 718us/step - loss: 0.5721 - accuracy: 0.7271
Epoch 47/50
804/804 [==============================] - 1s 720us/step - loss: 0.5723 - accuracy: 0.7252
Epoch 48/50
804/804 [==============================] - 1s 767us/step - loss: 0.5721 - accuracy: 0.7266
Epoch 49/50
804/804 [==============================] - 1s 717us/step - loss: 0.5722 - accuracy: 0.7261
Epoch 50/50
804/804 [==============================] - 1s 717us/step - loss: 0.5720 - accuracy: 0.7273

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [109]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 [==============================] - 0s 581us/step - loss: 0.5784 - accuracy: 0.7237
Loss: 0.5783886909484863, Accuracy: 0.7237317562103271

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [81]:
# Set the model's file path
file_path = Path('./Models/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [82]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [87]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [84]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 29

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

29

In [86]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 15

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

15

In [110]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [111]:
# First hidden layer
nn_A1.add(Dense(
    units=hidden_nodes_layer1_A1,
    input_dim=number_input_features,
    activation='relu',
    name='hidden1'
))

# Second hidden layer
nn_A1.add(Dense(
    units=hidden_nodes_layer2_A1,
    activation='relu',
    name='hidden2'
))
# Output layer
nn_A1.add(Dense(
    number_output_neurons_A1,
    activation='sigmoid',
    name='output'
))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 hidden1 (Dense)             (None, 29)                3393

 hidden2 (Dense)             (None, 15)                450

 output (Dense)              (None, 1)                 16

=================================================================
Total params: 3,859
Trainable params: 3,859
Non-trainable params: 0
_________________________________________________________________

In [112]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [113]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(
    X_train_scaled,
    y_train,
    epochs=50
)

Epoch 1/50
804/804 [==============================] - 1s 887us/step - loss: 0.5847 - accuracy: 0.7120
Epoch 2/50
804/804 [==============================] - 1s 834us/step - loss: 0.5535 - accuracy: 0.7292
Epoch 3/50
804/804 [==============================] - 1s 850us/step - loss: 0.5494 - accuracy: 0.7319
Epoch 4/50
804/804 [==============================] - 1s 789us/step - loss: 0.5473 - accuracy: 0.7325
Epoch 5/50
804/804 [==============================] - 1s 874us/step - loss: 0.5456 - accuracy: 0.7341
Epoch 6/50
804/804 [==============================] - 1s 859us/step - loss: 0.5445 - accuracy: 0.7341
Epoch 7/50
804/804 [==============================] - 1s 843us/step - loss: 0.5444 - accuracy: 0.7346
Epoch 8/50
804/804 [==============================] - 1s 854us/step - loss: 0.5429 - accuracy: 0.7351
Epoch 9/50
804/804 [==============================] - 1s 835us/step - loss: 0.5425 - accuracy: 0.7343
Epoch 10/50
804/804 [==============================] - 1s 844us/step - loss: 0.5420 - accuracy: 0.7348
Epoch 11/50
804/804 [==============================] - 1s 861us/step - loss: 0.5411 - accuracy: 0.7352
Epoch 12/50
804/804 [==============================] - 1s 847us/step - loss: 0.5413 - accuracy: 0.7353
Epoch 13/50
804/804 [==============================] - 1s 846us/step - loss: 0.5406 - accuracy: 0.7358
Epoch 14/50
804/804 [==============================] - 1s 917us/step - loss: 0.5400 - accuracy: 0.7356
Epoch 15/50
804/804 [==============================] - 1s 825us/step - loss: 0.5395 - accuracy: 0.7360
Epoch 16/50
804/804 [==============================] - 1s 876us/step - loss: 0.5393 - accuracy: 0.7351
Epoch 17/50
804/804 [==============================] - 1s 842us/step - loss: 0.5393 - accuracy: 0.7354
Epoch 18/50
804/804 [==============================] - 1s 879us/step - loss: 0.5390 - accuracy: 0.7369
Epoch 19/50
804/804 [==============================] - 1s 879us/step - loss: 0.5384 - accuracy: 0.7368
Epoch 20/50
804/804 [==============================] - 1s 859us/step - loss: 0.5378 - accuracy: 0.7369
Epoch 21/50
804/804 [==============================] - 1s 866us/step - loss: 0.5381 - accuracy: 0.7371
Epoch 22/50
804/804 [==============================] - 1s 864us/step - loss: 0.5374 - accuracy: 0.7378
Epoch 23/50
804/804 [==============================] - 1s 851us/step - loss: 0.5377 - accuracy: 0.7364
Epoch 24/50
804/804 [==============================] - 1s 889us/step - loss: 0.5373 - accuracy: 0.7367
Epoch 25/50
804/804 [==============================] - 1s 876us/step - loss: 0.5367 - accuracy: 0.7382
Epoch 26/50
804/804 [==============================] - 1s 905us/step - loss: 0.5369 - accuracy: 0.7378
Epoch 27/50
804/804 [==============================] - 1s 886us/step - loss: 0.5365 - accuracy: 0.7388
Epoch 28/50
804/804 [==============================] - 1s 877us/step - loss: 0.5364 - accuracy: 0.7369
Epoch 29/50
804/804 [==============================] - 1s 933us/step - loss: 0.5359 - accuracy: 0.7383
Epoch 30/50
804/804 [==============================] - 1s 890us/step - loss: 0.5358 - accuracy: 0.7388
Epoch 31/50
804/804 [==============================] - 1s 876us/step - loss: 0.5357 - accuracy: 0.7394
Epoch 32/50
804/804 [==============================] - 1s 890us/step - loss: 0.5353 - accuracy: 0.7391
Epoch 33/50
804/804 [==============================] - 1s 874us/step - loss: 0.5352 - accuracy: 0.7384
Epoch 34/50
804/804 [==============================] - 1s 894us/step - loss: 0.5351 - accuracy: 0.7395
Epoch 35/50
804/804 [==============================] - 1s 761us/step - loss: 0.5350 - accuracy: 0.7382
Epoch 36/50
804/804 [==============================] - 1s 866us/step - loss: 0.5351 - accuracy: 0.7388
Epoch 37/50
804/804 [==============================] - 1s 859us/step - loss: 0.5353 - accuracy: 0.7385
Epoch 38/50
804/804 [==============================] - 1s 877us/step - loss: 0.5347 - accuracy: 0.7379
Epoch 39/50
804/804 [==============================] - 1s 740us/step - loss: 0.5343 - accuracy: 0.7399
Epoch 40/50
804/804 [==============================] - 1s 828us/step - loss: 0.5341 - accuracy: 0.7401
Epoch 41/50
804/804 [==============================] - 1s 887us/step - loss: 0.5343 - accuracy: 0.7382
Epoch 42/50
804/804 [==============================] - 1s 730us/step - loss: 0.5344 - accuracy: 0.7395
Epoch 43/50
804/804 [==============================] - 1s 800us/step - loss: 0.5344 - accuracy: 0.7397
Epoch 44/50
804/804 [==============================] - 1s 836us/step - loss: 0.5341 - accuracy: 0.7393
Epoch 45/50
804/804 [==============================] - 1s 795us/step - loss: 0.5344 - accuracy: 0.7390
Epoch 46/50
804/804 [==============================] - 1s 805us/step - loss: 0.5338 - accuracy: 0.7404
Epoch 47/50
804/804 [==============================] - 1s 781us/step - loss: 0.5341 - accuracy: 0.7404
Epoch 48/50
804/804 [==============================] - 1s 879us/step - loss: 0.5333 - accuracy: 0.7397
Epoch 49/50
804/804 [==============================] - 1s 725us/step - loss: 0.5335 - accuracy: 0.7407
Epoch 50/50
804/804 [==============================] - 1s 736us/step - loss: 0.5337 - accuracy: 0.7386

In [114]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss_A1, model_accuracy_A1 = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss_A1}, Accuracy: {model_accuracy_A1}")

268/268 [==============================] - 0s 653us/step - loss: 0.5784 - accuracy: 0.7237
Loss: 0.5783886909484863, Accuracy: 0.7237317562103271

#### Alternative Model 2

In [94]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [95]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [96]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

2

In [97]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = 2

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

2

In [128]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [129]:
# First hidden layer
nn_A2.add(Dense(
    units=hidden_nodes_layer1_A2,
    input_dim=number_input_features,
    activation='relu',
    name='hidden1'
))

# # Second hidden layer
# nn_A2.add(Dense(
#     units=hidden_nodes_layer2_A2,
#     activation='relu',
#     name='hidden2'
# ))

# Output layer
nn_A2.add(Dense(
    units=number_output_neurons_A2,
    activation='sigmoid'
))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 hidden1 (Dense)             (None, 2)                 234

 dense_7 (Dense)             (None, 1)                 3

=================================================================
Total params: 237
Trainable params: 237
Non-trainable params: 0
_________________________________________________________________

In [130]:
# Compile the model
nn_A2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [131]:
# Fit the model
nn_A2.fit(
    X_train_scaled,
    y_train,
    epochs=50
)

Epoch 1/50
804/804 [==============================] - 1s 723us/step - loss: 0.6333 - accuracy: 0.6780
Epoch 2/50
804/804 [==============================] - 1s 718us/step - loss: 0.5822 - accuracy: 0.7203
Epoch 3/50
804/804 [==============================] - 1s 729us/step - loss: 0.5724 - accuracy: 0.7201
Epoch 4/50
804/804 [==============================] - 1s 710us/step - loss: 0.5678 - accuracy: 0.7206
Epoch 5/50
804/804 [==============================] - 1s 708us/step - loss: 0.5664 - accuracy: 0.7209
Epoch 6/50
804/804 [==============================] - 1s 716us/step - loss: 0.5654 - accuracy: 0.7211
Epoch 7/50
804/804 [==============================] - 1s 713us/step - loss: 0.5646 - accuracy: 0.7210
Epoch 8/50
804/804 [==============================] - 1s 712us/step - loss: 0.5639 - accuracy: 0.7217
Epoch 9/50
804/804 [==============================] - 1s 724us/step - loss: 0.5632 - accuracy: 0.7213
Epoch 10/50
804/804 [==============================] - 1s 697us/step - loss: 0.5624 - accuracy: 0.7217
Epoch 11/50
804/804 [==============================] - 1s 728us/step - loss: 0.5602 - accuracy: 0.7219
Epoch 12/50
804/804 [==============================] - 1s 726us/step - loss: 0.5602 - accuracy: 0.7220
Epoch 13/50
804/804 [==============================] - 1s 726us/step - loss: 0.5599 - accuracy: 0.7218
Epoch 14/50
804/804 [==============================] - 1s 764us/step - loss: 0.5597 - accuracy: 0.7222
Epoch 15/50
804/804 [==============================] - 1s 689us/step - loss: 0.5596 - accuracy: 0.7231
Epoch 16/50
804/804 [==============================] - 1s 710us/step - loss: 0.5596 - accuracy: 0.7219
Epoch 17/50
804/804 [==============================] - 1s 746us/step - loss: 0.5594 - accuracy: 0.7232
Epoch 18/50
804/804 [==============================] - 1s 727us/step - loss: 0.5593 - accuracy: 0.7236
Epoch 19/50
804/804 [==============================] - 1s 712us/step - loss: 0.5594 - accuracy: 0.7233
Epoch 20/50
804/804 [==============================] - 1s 726us/step - loss: 0.5593 - accuracy: 0.7234
Epoch 21/50
804/804 [==============================] - 1s 746us/step - loss: 0.5591 - accuracy: 0.7232
Epoch 22/50
804/804 [==============================] - 1s 714us/step - loss: 0.5590 - accuracy: 0.7238
Epoch 23/50
804/804 [==============================] - 1s 714us/step - loss: 0.5589 - accuracy: 0.7227
Epoch 24/50
804/804 [==============================] - 1s 707us/step - loss: 0.5590 - accuracy: 0.7233
Epoch 25/50
804/804 [==============================] - 1s 720us/step - loss: 0.5589 - accuracy: 0.7235
Epoch 26/50
804/804 [==============================] - 1s 713us/step - loss: 0.5589 - accuracy: 0.7241
Epoch 27/50
804/804 [==============================] - 1s 772us/step - loss: 0.5587 - accuracy: 0.7234
Epoch 28/50
804/804 [==============================] - 1s 721us/step - loss: 0.5587 - accuracy: 0.7237
Epoch 29/50
804/804 [==============================] - 1s 733us/step - loss: 0.5586 - accuracy: 0.7235
Epoch 30/50
804/804 [==============================] - 1s 716us/step - loss: 0.5587 - accuracy: 0.7242
Epoch 31/50
804/804 [==============================] - 1s 733us/step - loss: 0.5585 - accuracy: 0.7243
Epoch 32/50
804/804 [==============================] - 1s 731us/step - loss: 0.5587 - accuracy: 0.7238
Epoch 33/50
804/804 [==============================] - 1s 742us/step - loss: 0.5584 - accuracy: 0.7257
Epoch 34/50
804/804 [==============================] - 1s 725us/step - loss: 0.5582 - accuracy: 0.7258
Epoch 35/50
804/804 [==============================] - 1s 660us/step - loss: 0.5583 - accuracy: 0.7249
Epoch 36/50
804/804 [==============================] - 1s 767us/step - loss: 0.5581 - accuracy: 0.7251
Epoch 37/50
804/804 [==============================] - 1s 735us/step - loss: 0.5580 - accuracy: 0.7244
Epoch 38/50
804/804 [==============================] - 1s 739us/step - loss: 0.5580 - accuracy: 0.7255
Epoch 39/50
804/804 [==============================] - 1s 677us/step - loss: 0.5579 - accuracy: 0.7248
Epoch 40/50
804/804 [==============================] - 1s 694us/step - loss: 0.5579 - accuracy: 0.7252
Epoch 41/50
804/804 [==============================] - 1s 653us/step - loss: 0.5577 - accuracy: 0.7240
Epoch 42/50
804/804 [==============================] - 1s 696us/step - loss: 0.5578 - accuracy: 0.7245
Epoch 43/50
804/804 [==============================] - 1s 670us/step - loss: 0.5578 - accuracy: 0.7252
Epoch 44/50
804/804 [==============================] - 1s 680us/step - loss: 0.5579 - accuracy: 0.7253
Epoch 45/50
804/804 [==============================] - 1s 760us/step - loss: 0.5577 - accuracy: 0.7257
Epoch 46/50
804/804 [==============================] - 1s 745us/step - loss: 0.5578 - accuracy: 0.7245
Epoch 47/50
804/804 [==============================] - 1s 717us/step - loss: 0.5576 - accuracy: 0.7243
Epoch 48/50
804/804 [==============================] - 1s 715us/step - loss: 0.5577 - accuracy: 0.7242
Epoch 49/50
804/804 [==============================] - 1s 711us/step - loss: 0.5577 - accuracy: 0.7248
Epoch 50/50
804/804 [==============================] - 1s 707us/step - loss: 0.5574 - accuracy: 0.7254

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [132]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 0s 672us/step - loss: 0.5784 - accuracy: 0.7237
Loss: 0.5783886909484863, Accuracy: 0.7237317562103271

In [133]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 0s 742us/step - loss: 0.5544 - accuracy: 0.7315
Loss: 0.554372251033783, Accuracy: 0.7315452098846436

In [134]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 [==============================] - 0s 617us/step - loss: 0.5647 - accuracy: 0.7250
Loss: 0.5647242665290833, Accuracy: 0.7250145673751831

### Step 3: Save each of your alternative models as an HDF5 file.

In [126]:
# Set the file path for the first alternative model
file_path = Path('./Models/AlphabetSoup_A1.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [127]:
# Set the file path for the first alternative model
file_path = Path('./Models/AlphabetSoup_A2.h5')

# Export your model to a HDF5 file
nn_A2.save(file_path)