# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

2023-05-25 12:50:13.592598: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('./Resources/applicants_data.csv'))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df.drop(columns=categorical_variables), encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
y_train.value_counts()

IS_SUCCESSFUL
1    13723
0    12001
Name: count, dtype: int64

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = len(X.columns)

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

2

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

2

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
nn.add(Dense(
    units=hidden_nodes_layer1,
    input_dim = number_input_features,
    activation='relu',
    name='hidden1'
))

In [20]:
# Add the second hidden layer
nn.add(Dense(
    units=hidden_nodes_layer2,
    activation='relu',
    name='hidden2'
))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(
    number_output_neurons,
    activation='sigmoid',
    name='output'
))

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 hidden1 (Dense)             (None, 2)                 234

 hidden2 (Dense)             (None, 2)                 6

 output (Dense)              (None, 1)                 3

=================================================================
Total params: 243
Trainable params: 243
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [24]:
# Fit the model using 50 epochs and the training data
nn.fit(
    X_train_scaled,
    y_train,
    epochs=50
)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.6545 - accuracy: 0.6162
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6177 - accuracy: 0.6746
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6070 - accuracy: 0.6766
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5977 - accuracy: 0.6910
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5884 - accuracy: 0.7220
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5836 - accuracy: 0.7225
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5810 - accuracy: 0.7233
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5790 - accuracy: 0.7230
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5774 - accuracy: 0.7222
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5766 - accuracy: 0.7224
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5761 - accuracy: 0.7232
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5753 - accuracy: 0.7229
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5752 - accuracy: 0.7234
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5741 - accuracy: 0.7230
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5740 - accuracy: 0.7226
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5740 - accuracy: 0.7239
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5736 - accuracy: 0.7233
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5733 - accuracy: 0.7234
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5734 - accuracy: 0.7233
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5732 - accuracy: 0.7237
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5732 - accuracy: 0.7229
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5731 - accuracy: 0.7234
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5730 - accuracy: 0.7246
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5728 - accuracy: 0.7242
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5726 - accuracy: 0.7234
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5707 - accuracy: 0.7239
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5704 - accuracy: 0.7237
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5699 - accuracy: 0.7243
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5697 - accuracy: 0.7251
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5698 - accuracy: 0.7241
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5695 - accuracy: 0.7248
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5697 - accuracy: 0.7244
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5696 - accuracy: 0.7247
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5695 - accuracy: 0.7242
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5696 - accuracy: 0.7250
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5696 - accuracy: 0.7238
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5695 - accuracy: 0.7245
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5696 - accuracy: 0.7242
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5696 - accuracy: 0.7245
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5696 - accuracy: 0.7241
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5695 - accuracy: 0.7238
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5696 - accuracy: 0.7249
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5696 - accuracy: 0.7248
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5695 - accuracy: 0.7247
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5694 - accuracy: 0.7248
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5695 - accuracy: 0.7248
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5695 - accuracy: 0.7245
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5694 - accuracy: 0.7248
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5697 - accuracy: 0.7247
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5696 - accuracy: 0.7252

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 [==============================] - 1s 1ms/step - loss: 0.5781 - accuracy: 0.7185
Loss: 0.5781310200691223, Accuracy: 0.7184839844703674

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = Path('./Models/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [27]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [28]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [29]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 29

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

29

In [30]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 15

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

15

In [31]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [32]:
# First hidden layer
nn_A1.add(Dense(
    units=hidden_nodes_layer1_A1,
    input_dim=number_input_features,
    activation='relu',
    name='hidden1'
))

# Second hidden layer
nn_A1.add(Dense(
    units=hidden_nodes_layer2_A1,
    activation='relu',
    name='hidden2'
))
# Output layer
nn_A1.add(Dense(
    number_output_neurons_A1,
    activation='sigmoid',
    name='output'
))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 hidden1 (Dense)             (None, 29)                3393

 hidden2 (Dense)             (None, 15)                450

 output (Dense)              (None, 1)                 16

=================================================================
Total params: 3,859
Trainable params: 3,859
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [34]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(
    X_train_scaled,
    y_train,
    epochs=50
)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.5924 - accuracy: 0.7088
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7300
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7319
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7322
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7313
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7331
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7332
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7330
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7348
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7348
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7345
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7355
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7362
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7345
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7363
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7364
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7365
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7350
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7371
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7378
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7371
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7375
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7369
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7379
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7372
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7373
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7381
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7383
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7385
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7382
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7394
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7398
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7388
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7386
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7388
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7380
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7390
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7395
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7388
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7398
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7392
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7397
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7397
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7401
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7394
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7397
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7394
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7395
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7406
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7396

In [35]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss_A1, model_accuracy_A1 = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss_A1}, Accuracy: {model_accuracy_A1}")

268/268 [==============================] - 0s 972us/step - loss: 0.5781 - accuracy: 0.7185
Loss: 0.5781310200691223, Accuracy: 0.7184839844703674

#### Alternative Model 2

In [36]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [37]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [38]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

2

In [39]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = 2

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

2

In [40]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [41]:
# First hidden layer
nn_A2.add(Dense(
    units=hidden_nodes_layer1_A2,
    input_dim=number_input_features,
    activation='relu',
    name='hidden1'
))

# Output layer
nn_A2.add(Dense(
    units=number_output_neurons_A2,
    activation='sigmoid'
))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 hidden1 (Dense)             (None, 2)                 234

 dense (Dense)               (None, 1)                 3

=================================================================
Total params: 237
Trainable params: 237
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compile the model
nn_A2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [43]:
# Fit the model
nn_A2.fit(
    X_train_scaled,
    y_train,
    epochs=50
)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.7196 - accuracy: 0.6866
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6266 - accuracy: 0.7137
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5996 - accuracy: 0.7206
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5854 - accuracy: 0.7241
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5771 - accuracy: 0.7264
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5725 - accuracy: 0.7269
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5697 - accuracy: 0.7271
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5676 - accuracy: 0.7278
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5661 - accuracy: 0.7278
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5647 - accuracy: 0.7276
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5640 - accuracy: 0.7275
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5635 - accuracy: 0.7274
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5631 - accuracy: 0.7282
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5629 - accuracy: 0.7278
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7285
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5624 - accuracy: 0.7291
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7289
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7285
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5620 - accuracy: 0.7285
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5619 - accuracy: 0.7292
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5618 - accuracy: 0.7290
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5617 - accuracy: 0.7282
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5615 - accuracy: 0.7276
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5617 - accuracy: 0.7279
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5616 - accuracy: 0.7286
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5616 - accuracy: 0.7286
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5615 - accuracy: 0.7285
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5615 - accuracy: 0.7285
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5616 - accuracy: 0.7288
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5614 - accuracy: 0.7285
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5614 - accuracy: 0.7285
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5614 - accuracy: 0.7279
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5611 - accuracy: 0.7289
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5614 - accuracy: 0.7280
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5614 - accuracy: 0.7289
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.7282
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.7277
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.7285
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5611 - accuracy: 0.7285
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.7278
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5611 - accuracy: 0.7281
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.7284
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.7289
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.7280
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.7284
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.7288
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5609 - accuracy: 0.7285
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5610 - accuracy: 0.7282
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5609 - accuracy: 0.7277
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5608 - accuracy: 0.7287

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [44]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 0s 1ms/step - loss: 0.5781 - accuracy: 0.7185
Loss: 0.5781310200691223, Accuracy: 0.7184839844703674

In [45]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 0s 974us/step - loss: 0.5558 - accuracy: 0.7254
Loss: 0.5558244585990906, Accuracy: 0.7253644466400146

In [46]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 [==============================] - 0s 971us/step - loss: 0.5633 - accuracy: 0.7269
Loss: 0.5632928013801575, Accuracy: 0.7268804907798767

### Step 3: Save each of your alternative models as an HDF5 file.

In [47]:
# Set the file path for the first alternative model
file_path = Path('./Models/AlphabetSoup_A1.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [48]:
# Set the file path for the first alternative model
file_path = Path('./Models/AlphabetSoup_A2.h5')

# Export your model to a HDF5 file
nn_A2.save(file_path)

## Checkpoint 1

So far, we've tried changing the number of neurons per layer and changing the number of layers. The models haven't shown much improvement in loss or accuracy. The next attempt will be to analyze the data to see if anything can be omitted.

In [49]:
# Review the value_counts of all features
for col in X.columns:
    print(X[col].value_counts())

STATUS
1    34294
0        5
Name: count, dtype: int64
ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64
APPLICATION_TYPE_T10
0.0    33771
1.0      528
Name: count, dtype: int64
APPLICATION_TYPE_T12
0.0    34272
1.0       27
Name: count, dtype: int64
APPLICATION_TYPE_T13
0.0    34233
1.0       66
Name: count, dtype: int64
APPLICATION_TYPE_T14
0.0    34296
1.0        3
Name: count, dtype: int64
APPLICATION_TYPE_T15
0.0    34297
1.0        2
Name: count, dtype: int64
APPLICATION_TYPE_T17
0.0    34298
1.0        1
Name: count, dtype: int64
APPLICATION_TYPE_T19
0.0    33234
1.0     1065
Name: count, dtype: int64
APPLICATION_TYPE_T2
0.0    34283
1.0       16
Name: count, dtype: int64
APPLICATION_TYPE_T25
0.0    34296
1.0        3
Name: count, dtype: int64
APPLICATION_TYPE_T29
0.0    34297
1.0        2
Name: count, dtype: int64
APPLICATION_TYPE_T3
1.0    27037
0.0     7262
Name: count, dtype: int64
APPLICATION_TYPE_T4
0.0    32757
1.0     1542
Name: count, dtype: int64
APPLICATION_TYPE_T5
0.0    33126
1.0     1173
Name: count, dtype: int64
APPLICATION_TYPE_T6
0.0    33083
1.0     1216
Name: count, dtype: int64
APPLICATION_TYPE_T7
0.0    33574
1.0      725
Name: count, dtype: int64
APPLICATION_TYPE_T8
0.0    33562
1.0      737
Name: count, dtype: int64
APPLICATION_TYPE_T9
0.0    34143
1.0      156
Name: count, dtype: int64
AFFILIATION_CompanySponsored
0.0    18594
1.0    15705
Name: count, dtype: int64
AFFILIATION_Family/Parent
0.0    34235
1.0       64
Name: count, dtype: int64
AFFILIATION_Independent
1.0    18480
0.0    15819
Name: count, dtype: int64
AFFILIATION_National
0.0    34266
1.0       33
Name: count, dtype: int64
AFFILIATION_Other
0.0    34295
1.0        4
Name: count, dtype: int64
AFFILIATION_Regional
0.0    34286
1.0       13
Name: count, dtype: int64
CLASSIFICATION_C0
0.0    34296
1.0        3
Name: count, dtype: int64
CLASSIFICATION_C1000
1.0    17326
0.0    16973
Name: count, dtype: int64
CLASSIFICATION_C1200
0.0    29462
1.0     4837
Name: count, dtype: int64
CLASSIFICATION_C1230
0.0    34263
1.0       36
Name: count, dtype: int64
CLASSIFICATION_C1234
0.0    34297
1.0        2
Name: count, dtype: int64
CLASSIFICATION_C1235
0.0    34290
1.0        9
Name: count, dtype: int64
CLASSIFICATION_C1236
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C1237
0.0    34290
1.0        9
Name: count, dtype: int64
CLASSIFICATION_C1238
0.0    34289
1.0       10
Name: count, dtype: int64
CLASSIFICATION_C1240
0.0    34269
1.0       30
Name: count, dtype: int64
CLASSIFICATION_C1245
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C1246
0.0    34297
1.0        2
Name: count, dtype: int64
CLASSIFICATION_C1248
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C1250
0.0    34285
1.0       14
Name: count, dtype: int64
CLASSIFICATION_C1256
0.0    34297
1.0        2
Name: count, dtype: int64
CLASSIFICATION_C1257
0.0    34294
1.0        5
Name: count, dtype: int64
CLASSIFICATION_C1260
0.0    34296
1.0        3
Name: count, dtype: int64
CLASSIFICATION_C1267
0.0    34297
1.0        2
Name: count, dtype: int64
CLASSIFICATION_C1270
0.0    34185
1.0      114
Name: count, dtype: int64
CLASSIFICATION_C1278
0.0    34289
1.0       10
Name: count, dtype: int64
CLASSIFICATION_C1280
0.0    34249
1.0       50
Name: count, dtype: int64
CLASSIFICATION_C1283
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C1300
0.0    34241
1.0       58
Name: count, dtype: int64
CLASSIFICATION_C1370
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C1400
0.0    34265
1.0       34
Name: count, dtype: int64
CLASSIFICATION_C1500
0.0    34283
1.0       16
Name: count, dtype: int64
CLASSIFICATION_C1570
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C1580
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C1600
0.0    34294
1.0        5
Name: count, dtype: int64
CLASSIFICATION_C1700
0.0    34012
1.0      287
Name: count, dtype: int64
CLASSIFICATION_C1720
0.0    34293
1.0        6
Name: count, dtype: int64
CLASSIFICATION_C1728
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C1732
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C1800
0.0    34284
1.0       15
Name: count, dtype: int64
CLASSIFICATION_C1820
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C1900
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C2000
0.0    28225
1.0     6074
Name: count, dtype: int64
CLASSIFICATION_C2100
0.0    32416
1.0     1883
Name: count, dtype: int64
CLASSIFICATION_C2150
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C2170
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C2190
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C2300
0.0    34267
1.0       32
Name: count, dtype: int64
CLASSIFICATION_C2380
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C2400
0.0    34293
1.0        6
Name: count, dtype: int64
CLASSIFICATION_C2500
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C2561
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C2570
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C2600
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C2700
0.0    34195
1.0      104
Name: count, dtype: int64
CLASSIFICATION_C2710
0.0    34296
1.0        3
Name: count, dtype: int64
CLASSIFICATION_C2800
0.0    34204
1.0       95
Name: count, dtype: int64
CLASSIFICATION_C3000
0.0    32381
1.0     1918
Name: count, dtype: int64
CLASSIFICATION_C3200
0.0    34297
1.0        2
Name: count, dtype: int64
CLASSIFICATION_C3700
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C4000
0.0    34105
1.0      194
Name: count, dtype: int64
CLASSIFICATION_C4100
0.0    34293
1.0        6
Name: count, dtype: int64
CLASSIFICATION_C4120
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C4200
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C4500
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C5000
0.0    34183
1.0      116
Name: count, dtype: int64
CLASSIFICATION_C5200
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C6000
0.0    34284
1.0       15
Name: count, dtype: int64
CLASSIFICATION_C6100
0.0    34298
1.0        1
Name: count, dtype: int64
CLASSIFICATION_C7000
0.0    33522
1.0      777
Name: count, dtype: int64
CLASSIFICATION_C7100
0.0    34224
1.0       75
Name: count, dtype: int64
CLASSIFICATION_C7120
0.0    34281
1.0       18
Name: count, dtype: int64
CLASSIFICATION_C7200
0.0    34267
1.0       32
Name: count, dtype: int64
CLASSIFICATION_C7210
0.0    34292
1.0        7
Name: count, dtype: int64
CLASSIFICATION_C8000
0.0    34279
1.0       20
Name: count, dtype: int64
CLASSIFICATION_C8200
0.0    34288
1.0       11
Name: count, dtype: int64
CLASSIFICATION_C8210
0.0    34298
1.0        1
Name: count, dtype: int64
USE_CASE_CommunityServ
0.0    33915
1.0      384
Name: count, dtype: int64
USE_CASE_Heathcare
0.0    34153
1.0      146
Name: count, dtype: int64
USE_CASE_Other
0.0    34296
1.0        3
Name: count, dtype: int64
USE_CASE_Preservation
1.0    28095
0.0     6204
Name: count, dtype: int64
USE_CASE_ProductDev
0.0    28628
1.0     5671
Name: count, dtype: int64
ORGANIZATION_Association
0.0    24044
1.0    10255
Name: count, dtype: int64
ORGANIZATION_Co-operative
0.0    33813
1.0      486
Name: count, dtype: int64
ORGANIZATION_Corporation
0.0    34256
1.0       43
Name: count, dtype: int64
ORGANIZATION_Trust
1.0    23515
0.0    10784
Name: count, dtype: int64
INCOME_AMT_0
1.0    24388
0.0     9911
Name: count, dtype: int64
INCOME_AMT_1-9999
0.0    33571
1.0      728
Name: count, dtype: int64
INCOME_AMT_10000-24999
0.0    33756
1.0      543
Name: count, dtype: int64
INCOME_AMT_100000-499999
0.0    30925
1.0     3374
Name: count, dtype: int64
INCOME_AMT_10M-50M
0.0    34059
1.0      240
Name: count, dtype: int64
INCOME_AMT_1M-5M
0.0    33344
1.0      955
Name: count, dtype: int64
INCOME_AMT_25000-99999
0.0    30552
1.0     3747
Name: count, dtype: int64
INCOME_AMT_50M+
0.0    34160
1.0      139
Name: count, dtype: int64
INCOME_AMT_5M-10M
0.0    34114
1.0      185
Name: count, dtype: int64
SPECIAL_CONSIDERATIONS_N
1.0    34272
0.0       27
Name: count, dtype: int64
SPECIAL_CONSIDERATIONS_Y
0.0    34272
1.0       27
Name: count, dtype: int64

## Data Review

The SPECIAL_CONSIDERATIONS_N and SPECIAL_CONSIDERATIONS_Y represent the same data, so one can be dropped. For this analysis, we'll drop SPECIAL_CONSIDERATIONS_N but note that dropping either is acceptable.

There are several CLASSIFICATION_C**** features that have very few counts that we may be able to drop from our analysis. Before dropping them, we'll check what the data represents.

In [50]:
# Drop the SPECIAL_CONSIDERATIONS_N feature
X = X.drop(columns='SPECIAL_CONSIDERATIONS_N')

In [51]:
# Review one of the categorical data
X[X['CLASSIFICATION_C8210']==1]

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
9414,1,25990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
X[X['ASK_AMT']==25990]

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
9414,1,25990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
X.filter(regex='CLASSIFICATION')

,CLASSIFICATION_C0,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C1230,CLASSIFICATION_C1234,CLASSIFICATION_C1235,CLASSIFICATION_C1236,CLASSIFICATION_C1237,CLASSIFICATION_C1238,CLASSIFICATION_C1240,...,CLASSIFICATION_C6000,CLASSIFICATION_C6100,CLASSIFICATION_C7000,CLASSIFICATION_C7100,CLASSIFICATION_C7120,CLASSIFICATION_C7200,CLASSIFICATION_C7210,CLASSIFICATION_C8000,CLASSIFICATION_C8200,CLASSIFICATION_C8210
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34298,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
X_corr = X.corr()

In [55]:
import numpy as np
np.fill_diagonal(X_corr.values, np.nan)
X_corr['CLASSIFICATION_C8210'].sort_values(ascending=False)

INCOME_AMT_100000-499999        0.016347
AFFILIATION_Independent         0.004996
ORGANIZATION_Trust              0.003657
APPLICATION_TYPE_T3             0.002798
USE_CASE_Preservation           0.002537
                                  ...
ORGANIZATION_Association       -0.003526
AFFILIATION_CompanySponsored   -0.004962
CLASSIFICATION_C1000           -0.005456
INCOME_AMT_0                   -0.008470
CLASSIFICATION_C8210                 NaN
Name: CLASSIFICATION_C8210, Length: 115, dtype: float64

## Dropping Data

We'll look at all the categorical features and drop any that have a duplicated information. Some features may be complements of each other, so only one of those features needs to be kept. We'll find these features by looking at the features with high correlation and examining their values.

In [56]:
# Make a copy of X for use in the following code
X2 = X.copy()

# Find the correlation for X2
X2_corr = X2.corr()

# Ignore self-correlation by making diagonal NaN
# Note that the absolute value is used because a correlation can be positive or negative but still be strongly correlated.
import numpy as np
np.fill_diagonal(X2_corr.values, np.nan)
display(abs(X2_corr).max().sort_values(ascending=False))

AFFILIATION_CompanySponsored    0.993331
AFFILIATION_Independent         0.993331
ORGANIZATION_Association        0.964377
ORGANIZATION_Trust              0.964377
USE_CASE_Preservation           0.947137
                                  ...
CLASSIFICATION_C4120            0.005456
CLASSIFICATION_C4500            0.005456
CLASSIFICATION_C2600            0.005456
CLASSIFICATION_C1248            0.005456
CLASSIFICATION_C1370            0.005456
Length: 115, dtype: float64

In [57]:
# Review the data with the highest correlation
abs(X2_corr).loc['AFFILIATION_CompanySponsored'].sort_values(ascending=False)

AFFILIATION_Independent         0.993331
ORGANIZATION_Association        0.483599
ORGANIZATION_Trust              0.448855
INCOME_AMT_0                    0.276418
APPLICATION_TYPE_T3             0.196791
                                  ...
APPLICATION_TYPE_T14            0.003919
CLASSIFICATION_C2300            0.002583
APPLICATION_TYPE_T7             0.002454
STATUS                          0.001403
AFFILIATION_CompanySponsored         NaN
Name: AFFILIATION_CompanySponsored, Length: 115, dtype: float64

In [58]:
# Review the features that are highly correlated to each other
# Notice that their correlations are the same

X2[['AFFILIATION_CompanySponsored', 'AFFILIATION_Independent']]

       AFFILIATION_CompanySponsored  AFFILIATION_Independent
0                               0.0                      1.0
1                               0.0                      1.0
2                               1.0                      0.0
3                               1.0                      0.0
4                               0.0                      1.0
...                             ...                      ...
34294                           0.0                      1.0
34295                           1.0                      0.0
34296                           1.0                      0.0
34297                           0.0                      1.0
34298                           0.0                      1.0

[34299 rows x 2 columns]

In [59]:
# Take the complement of one feature and see if it's the same as the other feature
((1 -X2['AFFILIATION_Independent']) == X2['AFFILIATION_CompanySponsored']).value_counts()

True     34185
False      114
Name: count, dtype: int64

We can see that the highly correlated categories are not complements of each other but since they are highly correlated, we'll drop one. In the following code, we'll drop any feature that is highly (60%) correlated.

In [60]:
# Find all the highly correlated features
features_high_corr = (abs(X2_corr[abs(X2_corr) > 0.6])).max().sort_values(ascending=False).dropna()
features_high_corr

AFFILIATION_CompanySponsored    0.993331
AFFILIATION_Independent         0.993331
ORGANIZATION_Association        0.964377
ORGANIZATION_Trust              0.964377
USE_CASE_Preservation           0.947137
USE_CASE_ProductDev             0.947137
APPLICATION_TYPE_T3             0.835158
dtype: float64

In [61]:
# The highly correlated features are typically in pairs, indicating that the 2 features are correlated to each other. However, we have a feature with high correlation that isn't paired. Let's examine that feature further.

abs(X2_corr).loc['APPLICATION_TYPE_T3'].sort_values(ascending=False)

USE_CASE_ProductDev      0.835158
USE_CASE_Preservation    0.801408
CLASSIFICATION_C3000     0.460284
APPLICATION_TYPE_T4      0.418641
ORGANIZATION_Trust       0.405456
                           ...
USE_CASE_Other           0.002784
CLASSIFICATION_C0        0.002784
AFFILIATION_Other        0.001012
AFFILIATION_Regional     0.000908
APPLICATION_TYPE_T3           NaN
Name: APPLICATION_TYPE_T3, Length: 115, dtype: float64

In [62]:
# The correlations we found are the highest for each feature. There may be correlations that are still high ( > 60%)
# The correlations found are in the list of the highest correlations, so we will remove the first correlation of the pairs and the single correlation as well.
rm_features = features_high_corr.index.to_list()[::2]
X2.drop(columns=rm_features, inplace=True)

In [63]:
X2_corr2 = X2.corr()
rm_features_class = X2.filter(regex='CLASSIFICATION').columns.to_list()
X2.drop(columns=rm_features_class, inplace=True)

In [64]:
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y, random_state=1)

In [65]:
scaler2 = StandardScaler()
X2_scaler = scaler2.fit(X2_train)

X2_train_scaled = X2_scaler.transform(X2_train)
X2_test_scaled = X2_scaler.transform(X2_test)

In [66]:
n_input_feats = len(X2.columns)
n_output_neurons = 1
n_hidden_layer1_nodes = 40
n_hidden_layer2_nodes = 20

print(f"""
Number of Input Features:           {n_input_feats}
Number of Nodes For Hidden Layer 1: {n_hidden_layer1_nodes}
Number of Nodes for Hidden Layer 2: {n_hidden_layer2_nodes}
Numner of Output Nodes:             {n_output_neurons}
""")

Number of Input Features:           40
Number of Nodes For Hidden Layer 1: 40
Number of Nodes for Hidden Layer 2: 20
Numner of Output Nodes:             1

In [67]:
nn_A3 = Sequential()

nn_A3.add(Dense(
    units=n_hidden_layer1_nodes,
    input_dim=n_input_feats,
    activation='tanh',
    name='hidden1'
))

nn_A3.add(Dense(
    units=n_hidden_layer2_nodes,
    activation='relu',
    name='hidden2'
))

nn_A3.add(Dense(
    units=n_output_neurons,
    activation='sigmoid',
    name='ouput'
))

In [68]:
nn_A3.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [69]:
nn_A3.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 hidden1 (Dense)             (None, 40)                1640

 hidden2 (Dense)             (None, 20)                820

 ouput (Dense)               (None, 1)                 21

=================================================================
Total params: 2,481
Trainable params: 2,481
Non-trainable params: 0
_________________________________________________________________

In [70]:
nn_A3.fit(
    X2_train_scaled,
    y2_train,
    epochs=50
)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.5835 - accuracy: 0.7159
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5712 - accuracy: 0.7245
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5693 - accuracy: 0.7255
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5683 - accuracy: 0.7265
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5673 - accuracy: 0.7273
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5664 - accuracy: 0.7285
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5663 - accuracy: 0.7274
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5656 - accuracy: 0.7287
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5657 - accuracy: 0.7279
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5654 - accuracy: 0.7277
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5650 - accuracy: 0.7285
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5652 - accuracy: 0.7284
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5652 - accuracy: 0.7281
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5646 - accuracy: 0.7286
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5645 - accuracy: 0.7299
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5643 - accuracy: 0.7275
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5643 - accuracy: 0.7290
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5635 - accuracy: 0.7298
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5639 - accuracy: 0.7289
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5635 - accuracy: 0.7292
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5629 - accuracy: 0.7307
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5633 - accuracy: 0.7302
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5632 - accuracy: 0.7293
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5630 - accuracy: 0.7298
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5630 - accuracy: 0.7296
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5625 - accuracy: 0.7310
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7306
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5625 - accuracy: 0.7307
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7297
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7300
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7306
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5624 - accuracy: 0.7294
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7308
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7299
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5619 - accuracy: 0.7306
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7305
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5621 - accuracy: 0.7304
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5620 - accuracy: 0.7309
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5619 - accuracy: 0.7307
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5617 - accuracy: 0.7307
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5618 - accuracy: 0.7313
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5619 - accuracy: 0.7306
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5616 - accuracy: 0.7306
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5617 - accuracy: 0.7305
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5615 - accuracy: 0.7309
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5615 - accuracy: 0.7301
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5609 - accuracy: 0.7305
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5613 - accuracy: 0.7314
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5610 - accuracy: 0.7310
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.7313

In [71]:
model_loss, model_accuracy = nn_A3.evaluate(X2_test_scaled, y2_test)

268/268 [==============================] - 0s 1ms/step - loss: 0.5694 - accuracy: 0.7243

The previous attempt didn't show much improvement. Perhaps, we removed too many features. Let's try only removing correlations of >95%. Also, since the CLASSIFICATION features didn't make a difference, we'll remove them.

In [72]:
X3 = X.copy()

In [73]:
X3_corr = X3.corr()
np.fill_diagonal(X3_corr.values, np.nan)

In [74]:
# Try removing features with correlation > 95%
features_high_corr = (abs(X3_corr[abs(X3_corr) > 0.95])).max().sort_values(ascending=False).dropna()
features_high_corr

AFFILIATION_CompanySponsored    0.993331
AFFILIATION_Independent         0.993331
ORGANIZATION_Association        0.964377
ORGANIZATION_Trust              0.964377
dtype: float64

In [75]:
rm_features = features_high_corr.index.to_list()[::2]
X3.drop(columns=rm_features, inplace=True)
X3.shape

(34299, 113)

In [76]:
rm_features_class = X3.filter(regex='CLASSIFICATION').columns.to_list()
X3.drop(columns=rm_features_class, inplace=True)

In [77]:
X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y, random_state=1)

In [78]:
scaler3 = StandardScaler()
X3_scaler = scaler3.fit(X3_train)

X3_train_scaled = X3_scaler.transform(X3_train)
X3_test_scaled = X3_scaler.transform(X3_test)

In [79]:
n_input_feats = len(X3.columns)
n_output_neurons = 1
n_hidden_layer1_nodes = 40
n_hidden_layer2_nodes = 20
n_hidden_layer3_nodes = 20

print(f"""
Number of Input Features:           {n_input_feats}
Number of Nodes For Hidden Layer 1: {n_hidden_layer1_nodes}
Number of Nodes for Hidden Layer 2: {n_hidden_layer2_nodes}
Number of Nodes for Hidden Layer 3: {n_hidden_layer3_nodes}
Numner of Output Nodes:             {n_output_neurons}
""")

Number of Input Features:           42
Number of Nodes For Hidden Layer 1: 40
Number of Nodes for Hidden Layer 2: 20
Number of Nodes for Hidden Layer 3: 20
Numner of Output Nodes:             1

In [80]:
nn_A4 = Sequential()

nn_A4.add(Dense(
    units=n_hidden_layer1_nodes,
    input_dim=n_input_feats,
    activation='tanh',
    name='hidden1'
))

nn_A4.add(Dense(
    units=n_hidden_layer2_nodes,
    activation='relu',
    name='hidden2'
))

nn_A4.add(Dense(
    units=n_hidden_layer3_nodes,
    activation='relu',
    name='hidden3'
))

nn_A4.add(Dense(
    units=n_output_neurons,
    activation='sigmoid',
    name='ouput'
))

In [81]:
nn_A4.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [82]:
nn_A4.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 hidden1 (Dense)             (None, 40)                1720

 hidden2 (Dense)             (None, 20)                820

 hidden3 (Dense)             (None, 20)                420

 ouput (Dense)               (None, 1)                 21

=================================================================
Total params: 2,981
Trainable params: 2,981
Non-trainable params: 0
_________________________________________________________________

In [83]:
nn_A4.fit(
    X3_train_scaled,
    y3_train,
    epochs=50
)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.5820 - accuracy: 0.7157
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5698 - accuracy: 0.7243
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5678 - accuracy: 0.7256
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5667 - accuracy: 0.7280
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5658 - accuracy: 0.7280
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5657 - accuracy: 0.7283
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5654 - accuracy: 0.7275
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5651 - accuracy: 0.7281
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5644 - accuracy: 0.7288
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5646 - accuracy: 0.7295
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5642 - accuracy: 0.7298
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5636 - accuracy: 0.7297
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5634 - accuracy: 0.7294
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5632 - accuracy: 0.7308
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5632 - accuracy: 0.7303
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5630 - accuracy: 0.7297
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5628 - accuracy: 0.7289
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5630 - accuracy: 0.7308
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5629 - accuracy: 0.7308
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7306
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7302
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5624 - accuracy: 0.7305
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5624 - accuracy: 0.7306
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7305
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5614 - accuracy: 0.7310
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5619 - accuracy: 0.7308
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5620 - accuracy: 0.7304
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5618 - accuracy: 0.7304
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5615 - accuracy: 0.7303
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5615 - accuracy: 0.7305
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5613 - accuracy: 0.7311
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5610 - accuracy: 0.7316
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5614 - accuracy: 0.7312
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5609 - accuracy: 0.7303
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5611 - accuracy: 0.7303
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5613 - accuracy: 0.7311
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5609 - accuracy: 0.7310
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5611 - accuracy: 0.7317
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5607 - accuracy: 0.7316
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5608 - accuracy: 0.7308
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5605 - accuracy: 0.7317
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5606 - accuracy: 0.7302
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5602 - accuracy: 0.7312
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5606 - accuracy: 0.7314
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5604 - accuracy: 0.7312
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5606 - accuracy: 0.7311
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5604 - accuracy: 0.7316
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5602 - accuracy: 0.7320
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5601 - accuracy: 0.7319
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5598 - accuracy: 0.7320

In [84]:
model_loss, model_accuracy = nn_A4.evaluate(X3_test_scaled, y3_test)

268/268 [==============================] - 0s 1ms/step - loss: 0.5714 - accuracy: 0.7222

In [85]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 0s 1ms/step - loss: 0.5781 - accuracy: 0.7185
Loss: 0.5781310200691223, Accuracy: 0.7184839844703674

In [86]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 0s 980us/step - loss: 0.5558 - accuracy: 0.7254
Loss: 0.5558244585990906, Accuracy: 0.7253644466400146

In [87]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 [==============================] - 0s 975us/step - loss: 0.5633 - accuracy: 0.7269
Loss: 0.5632928013801575, Accuracy: 0.7268804907798767

In [88]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A3.evaluate(X2_test_scaled, y2_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 3 Results
268/268 [==============================] - 0s 984us/step - loss: 0.5694 - accuracy: 0.7243
Loss: 0.5694478750228882, Accuracy: 0.7243148684501648

In [89]:
print("Alternative Model 4 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A4.evaluate(X3_test_scaled, y3_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 4 Results
268/268 [==============================] - 0s 989us/step - loss: 0.5714 - accuracy: 0.7222
Loss: 0.5713809728622437, Accuracy: 0.7222157716751099

In [90]:
# Set the file path for the third alternative model
file_path = Path('./Models/AlphabetSoup_A3.h5')

# Export your model to a HDF5 file
nn_A3.save(file_path)

In [91]:
# Set the file path for the fourth alternative model
file_path = Path('./Models/AlphabetSoup_A4.h5')

# Export your model to a HDF5 file
nn_A4.save(file_path)

## Review

The results show that there is little change to the results after optimizing. We tried removing correlated features, changing activation functions, number of neurons, layers and epochs. Since the models performed similarly with fewer features, it may be possible to remove even more or use PCA to create more meaningful features that might improve the model.